a:link{color:blueviolet}
a:visited{color:darkcyan}
a:hover{color:crimson}

body {padding-left:5%}
body {padding-right:5%}

.title {
    margin:auto;
    padding:2em;
    background:linear-gradient(-30deg,skyblue,lightblue,white,lightgreen,green);
    border:3px solid black;
    border-radius:20px;
}

.card {
    margin:auto;
    padding:2em;
    border:3px solid black;
    border-radius:20px;
    max-width:100em;
    background:linear-gradient(90deg,pink,white,pink)
}

.resources_selector {
    margin:auto;
    border:3px solid black;
    border-radius:20px;
    background:linear-gradient(45deg,purple,skyblue,lightblue,white,skyblue,skyblue,purple)
}

.navigation_bar {
    margin:auto;
    border:3px solid black;
    border-radius:20px;
    position:fixed;
    left:-11em;
    width:10em;
    background:linear-gradient(goldenrod,white,goldenrod);
    padding:1%;
    height:100%;
    display:flex;
    align-item:center;
    overflow:fixed;
}

.navigation_bar:hover {
    left:0;
}

.footer {
    padding:2em;
    border:3px solid black;
    border-radius:20px;
    background:linear-gradient(-30deg,skyblue,lightblue,white,lightgreen,green);
}
